{% extends '../base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/feet_detail.css' %}'>
{% endblock style %}

{% block content %}
<div class='detail_title'>
    <h1>제품 상세 정보</h1>
</div>
<div class='detail_container_total'>

    <div class='back_btn'>
        <a onclick='goBack()'><i class="fas fa-arrow-left"></i> 뒤로가기</a>
    </div>
    <div class='d-flex flex-column detail_container'>
        <div class='dedatil_container_inner'>
            <div class='img_container'>
                <img class='feet_img' src='{{ feet.feet_image.url }}'>
            </div>
            <div class='data_container'>
                <div class='data_name_desc'>
                    <div class='data_name'>
                        <h3>{{ feet.name }}</h3>
                    </div>
                    <div>
                        <h4>제품 설명: </h4>
                        <h4 class='detail_description'>{{ feet.description }}</h4>
                    </div>
                </div>
                <div class='d-flex flex-row data_container_inner'>
                    <div class='data_title'>
                        <h4>제품 코드</h4>
                        <h4>활동 범위</h4>
                        <h4>최대허용체중</h4>
                        <h4>제품 분류</h4>
                    </div>
                    <div class='data_content'>
                        <h4>: {{ feet.code }}</h4>
                        <h4>: {{ feet.brand.get }}</h4>
                        <h4>: {{feet.weight.get}}</h4>
                        <h4>: {{feet.rating.get}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}