{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/posts/faq_list.css' %}'>
{% endblock style %}

{% block content %}
<div class='post_total_container'>
    <div class='post_top_container'>
        <h1>의족 FAQ</h1>
    </div>
    <div class='filter_container'>
        <div>
            <form class='search_form'>
            {{ form.title|add_class:'form_name'|attr:'placeholder:무엇이 궁금한가요? '}}
            <i class="fas fa-search search_btn"></i>
            </form>
        </div>
        <div class='category_btn'>
            <form method='get'>
                <button onclick="href='{% url 'posts:posts-list'%}';"><h4>전체보기</h4></button>
                <button type='submit' name='category' value='1'><h4>의수족</h4></button>
                <button type='submit' name='category' value='2'><h4>당뇨</h4></button>
                <button type='submit' name='category' value='3'><h4>절단</h4></button>
                <button type='submit' name='category' value='4'><h4>여행&교통</h4></button>
                <button type='submit' name='category' value='5'><h4>혜택&지원</h4></button>
                <button type='submit' name='category' value='6'><h4>생활</h4></button>
                <button type='submit' name='category' value='7'><h4>재활&치료</h4></button>
                <button type='submit' name='category' value='8'><h4>전문용어</h4></button>
                <button type='submit' name='category' value='9'><h4>환상통</h4></button>
                <button type='submit' name='category' value='10'><h4>처음사용자</h4></button>
            </form>
        </div>
    </div>
    <a href='{% url 'posts:post-create' %}'>[추가하기]</a>
    <div class='post_container'>
        
        {% for post in posts  %}
        <div class='post_container_inner'>
            <div class='btn_container'>
                <div class='category_box'>
                    <h4>{{post.category.get}}</h4>
                </div>
                <a class="btn_qna d-flex justify-content-between" data-bs-toggle="collapse" href="#multiCollapseExample{{post.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{post.id}}">
                    <div><h2>Q. {{post.title}}</h2></div>
                    <i class="card_icon fas fa-angle-down"></i>
                </a>
            </div>

            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample{{post.id}}">
                        <div class="card card-body">
                            <h3>
                        A. {{post.description|linebreaksbr}}
                        <a href='{% url 'posts:post-update' post.id %}'>[수정하기]</a>
                        <a href='{% url 'posts:post-delete' post.id %}'>[삭제하기]</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% endfor %}
        <form method='get'>

        <div class='pagenator d-flex flex-row justify-content-center'>
            {% if posts.has_previous %}
            <div class='page-item'>
                <h5><a href='?{{request.GET.urlencode}}&page={{posts.previous_page_number}}'><i class="fas fa-angle-left"></i></a></h5>
            </div>
            {% endif %}

            {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
            <div class='page-item'>
                <h5 class="current-page-item">{{ num }}</h5>
            </div>
            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
            <div class='page-item'>
                <h5><a href="?{{request.GET.urlencode}}&page={{ num }}">{{ num }}</a></h5>
            </div>
            {% endif %}
            {% endfor %}

            {% if posts.has_next %}
            <div class='page-item'>
                <h5><a href='?{{request.GET.urlencode}}&page={{posts.next_page_number}}'><i class="fas fa-angle-right"></i></a></h5>
            </div>
            {% endif %}
        </div>
        </form>

    </div>

</div>

{% endblock content %}

{% block jquery %}

$('.search_btn').click(function() {
    $('.search_form').submit();
})

$(document).ready(function(){
    $('.btn_qna').click(function(){
        if ($(this).attr('aria-expanded') === 'true') {
            $(this).children('.card_icon').removeClass('fa-angle-down')
            $(this).children('.card_icon').addClass('fa-angle-up')
        } else {
            $(this).children('.card_icon').removeClass('fa-angle-up')
            $(this).children('.card_icon').addClass('fa-angle-down')
        }
    })

})
$(document).ready(function(){
    localStorage.clear();
})
{% endblock jquery %}