.admin_feet_list_container {
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.admin_form_container {
    text-align: center;
}

input {
    width: 500px;
}

.add_btn {
    margin-bottom: 50px;
}

.workshop_btn {
    margin-right: 50px;
}