{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/core/adminpage.css' %}'>
{% endblock style %}




{% block content %}
<div class='admin_page_container'>
    <div class='admin_page_btn'>
    <a href='#'>의족FAQ</a>
    </div>
    <div class='admin_page_btn'>
    <a href='{% url 'feets:feets-admin-list'%}'>발</a>
    </div>
    <div class='admin_page_btn'>
    <a href='{% url 'workshops:workshops-admin-list'%}'>대리점</a>
    </div>
</div>

{% endblock content %}