{% extends '../base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/core/search.css' %}'>
{% endblock style %}

{% block content %}


<div class='feet_container_1 d-flex flex-column'>
    <div class='feet_inner_1 translate-middle'>
        <img class='feet_inner_img' src="{% static 'images/feet_img/feet_img(2).png' %}">
    </div>
    <div class='feet_text_1 translate-middle feet_text'>
        <h1>나에게 맞는 의족 발 찾기</h1>
        <h2>카본발? 사이드 플렉스?<br>
            나에게 필요한 기능은 무엇일까요.<br>
            간단한 선택지를 통해 나에게 맞는<br>
            의족 발을 찾아보세요.
        </h2>
        <div class='btn_guide_start'>
            <a href='{% url 'feets:search' %}'>시작하기</a>
        </div>
    </div>
</div>

<div class='feet_container_2 d-flex flex-column'>
    <div class='feet_inner_2 translate-middle'>
        <img class='feet_inner_img' src="{% static 'images/core/search/search(2).png' %}">
    </div>
    <div class='feet_text_2 translate-middle feet_text'>
        <h1>나에게 맞는 의족 무릎 찾기</h1>
        <h2>MPK? 브레이크? 다축?<br>
        무엇보다 안정성이 중요한 무릎!<br>
        나에게 필요한 의지 무릎을 찾아보세요.</h2>
        <div class='btn_guide_start'>
            <a href='{% url 'feets:feets-list-all' %}'>시작하기</a>
        </div>
    </div>
</div>




{% endblock content %}


{% block jquery %}



{% endblock jquery %}