.feet_container_1 {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: rgb(241, 245, 248);
}

.feet_inner_1{
    position: absolute;
    top: 50%;
    left: 75%;
}

.feet_1 {
    margin: 0 auto;
}

.feet_text_1 {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 100%;
}

.feet_text_1 h1{
    font-size: 35px;
    text-align: center;
}

.feet_text_1 h2{
    font-size: 30px;
    text-align: center;
}
.feet_text_1 h3{
    font-size: 25px;
    text-align: center;
}

.feet_inner_img {
    height: 500px;
}




.feet_container_2 {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.feet_inner_2{
    position: absolute;
    top: 50%;
    left: 25%;
}

.feet_2 {
    margin: 0 auto;
}

.feet_text_2 {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 100%;
}

.feet_text_2 h1{
    font-size: 35px;
    text-align: center;
}

.feet_text_2 h2{
    font-size: 30px;
    text-align: center;
}
.feet_text_2 h3{
    font-size: 25px;
    text-align: center;
}










.btn_guide_start {
    text-align: center;
    margin-top: 20px;
}

.btn_guide_start a {
    font-size: 13px;
    color: #053282;
    border: #053282 solid 1px;
    padding: 3px 10px;
    border-radius: 5px;
}

.btn_guide_start a:hover {
    color: white;
    background-color: #053282;
}




@media (max-width:1130px) {
    .feet_text h1{
        font-size: 25px;
    }
    .feet_text h2 {
        font-size: 20px;
    }

    .feet_inner_1 {
        left: 80%;
    }
    .feet_inner_img {
        height: 300px;
    }
}

@media (max-width:780px) {
    .feet_inner_1 {
        left: 50%;
        top: 65%;
    }
    .feet_text_1 {
        top:20%;
        left: 50%;
    }
    .feet_inner_2 {
        left: 50%;
        top: 70%;
    }
    .feet_text_2 {
        top:20%;
        left: 50%;
    }
}


@media (max-width:460px) {
    .feet_text h1{
        font-size: 17px;
    }
    .feet_text h2 {
        font-size: 13px;
    }
    .feet_inner_img {
        height: 200px;
    }
}