.feet_container_1 {
    width: 100%;
    height: 600px;
    background-color: rgb(241, 245, 248);
    align-items: center;
}

.feet_container_inner_1 {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
}

.feet_text_1 h1{
    font-size: 35px;
    text-align: center;
}

.feet_text_1 h2{
    font-size: 30px;
    text-align: center;
}
.feet_text_1 h3{
    font-size: 25px;
    text-align: center;
}

.feet_inner_img {
    height: 400px;
    display: none;
}




.feet_container_2 {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.feet_inner_2{
    position: absolute;
    top: 50%;
    left: 50%;
}

.feet_2 {
    margin: 0 auto;
}

.feet_text_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}

.feet_text_2 h1{
    font-size: 35px;
    text-align: center;
}

.feet_text_2 h2{
    font-size: 30px;
    text-align: center;
}
.feet_text_2 h3{
    font-size: 25px;
    text-align: center;
}










.btn_guide_start {
    text-align: center;
    margin-top: 20px;
}

.btn_guide_start a {
    font-size: 15px;
    color: white;
    border: #91ad41 solid 1px;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #91ad41;
    
}

.btn_guide_start a:hover {
    color: #91ad41;
    background-color: inherit;
}


@media (min-width:1440px) {
    .feet_container_inner_1 {
        width: 1440px;
    }
    .feet_container_1 {
        justify-content: center;
    }
}


@media (max-width:1280px) {
    .feet_text h1{
        font-size: 25px;
    }
    .feet_text h2 {
        font-size: 20px;
    }

    .feet_inner_1 {
        left: 80%;
    }
    .feet_inner_img {
        height: 300px;
    }
}

@media (max-width:970px) {
    .feet_container_inner_1 {
        flex-direction: column;
        align-content: space-between;
        height: 100%;
    }

    .feet_text_1 {
        width: 323px;
    }
}



@media (max-width:460px) {
    .feet_text h1{
        font-size: 17px;
    }
    .feet_text h2 {
        font-size: 13px;
    }
    .feet_inner_img {
        height: 200px;
    }

    .feet_container_1 {
        height: 450px;
    }
    .feet_container_2 {
        height: 300px;
    }
}



