body {
    font-family: 'Nanum Gothic', sans-serif;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 17px;
    color: #4e4e4e;
}

h3 {
    font-size: 15px;
    padding: 5px 5px;
    margin-bottom: 0;
}

h4 {
    color: #053282;
    font-size: 15px;
}

h6 {
    font-size: 25px;
}


.text_input {
    text-align: end;
    margin-bottom: 20px;
}
.text_input input{
    width: 200px;
    height: 25px;
    border: 1px silver solid;
}

.text_search_btn {
    border: #053282 1px solid;
    background-color: inherit;
    color: #053282;
    height: 25px;
    font-size: 15px;
}

.filter_form_container_inner {
    border:silver 1px solid;
    margin-bottom: 25px;
}

.filter_form_container {
    margin-left: auto;
    margin-right: auto;
}




.form_category_value {
    height: 40px;
    margin-left: 20px;
}




.category_title {
    width: 200px;
}

input[type=checkbox] {
    display: none;
}  

input[type=checkbox]:checked + label h3 {
    color: white;
    background-color: #053282;
    border-radius: 10px;
}



.category_title {
    border-right: silver 1px solid;
    background-color: whitesmoke;
}


.fa-exclamation-circle {
    color: #5fa0af;
}


.mob_label_btn {
    font-size: 13px;
    padding: 3px 5px;
    margin-left: 8px;
    border-radius: 5px;
    line-height: 100%;
    font-size: 13px;
    width: auto;
}

.exclamation_btn {
    background-color: inherit;
    border: none;
    padding: 0px;
    line-height: 0%;
}


.pop_icon {
    margin-right: 10px;
}

.label_btn {
    height: 40px;
    margin-right: 20px;
}

.label_btn2 {
    height: 60px;
    margin-right: 20px;
}

.form_category_value2 {
    height: 20px;
    margin-left: 20px;
}


.feet_title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


.list_img img{
    width: 200px;
}

.list_container {
    margin-left: auto;
    margin-right: auto;

}

.border_top {
    border-top: silver solid 1px;
}

.list_inner {
    padding: 20px 0px;
}

.list_text {
    padding-left: 30px;
    padding-right: 30px;
    width: 550px;

}
.img_text_container {
    width: 100%;
}

.date_container {
    width: 300px;
    border-left: silver 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.mob_date_container {
    display: none;
}

.mob_feet_description {
    display: none;
}


.pagenator {
    margin: 50px auto;
}

.current-page-item {
    font-weight: bold;
    border-bottom: silver 2px solid;
}

.page-item {
    width: 40px;
    text-align: center;
}


.mob_category_title {
    border: silver 1px solid;
    padding: 0 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mob_filter_form_container {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 30px;
    display: none;
}

.card-body {
    padding: 5px;
    background-color: #ececec;
}

.pc_text_input {
    height: 25px;
    position: relative;
    margin-bottom: 5px;
    text-align: end;
}
.pc_text_input input {
    height: 25px;
    width: 240px;

}

.pc_text_search_btn {
    position: absolute;
    background-color: inherit;
    border: inherit;
    right: 0px;
}

.mob_text_input {
    height: 25px;
    position: relative;
    margin-top: 10px;
}
.mob_text_input input {
    width: 100%;
    border: #053282 1px solid;
}

.mob_search_btn {
    position: absolute;
    top: 0;
    right: 10px;
}





@media (min-width:1240px) {
    .list_container {
        width: 1240px;
    
    }
    .filter_form_container {
        width: 1240px;
    }
}

@media (max-width:1240px) {
    .list_text {
        width: 380px;
    }
    
}

@media (max-width:1000px) {
    .list_container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width:830px) {
    .list_img img{
        width: 150px;
    }
    .list_text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .date_container {
        width: 200px;
    }
    h4 {
        color: #053282;
        font-size: 12px;
    }
}

@media (max-width:720px) {

    .date_container {
        display: none;
    }
    .mob_date_container {
        display: block;
    }
    .img_text_container {
        justify-content: space-around;
    }
    .mob_feet_description {
        display: block;
    }

    .mob_filter_form_container {
        display: block;
    }

    .pc_feet_description {
        display: none;
    }

    .filter_form_container {
        display: none;
    }


}

@media (max-width:580px) {
    .list_img img{
        width: 100px;
    }

    h1 {
        font-size: 15px;
        margin-bottom: 3px;
    }

    h2 {
        font-size: 11px;
        margin-bottom: 3px;
    }

    .list_inner {
        padding: 5px 0;
    }

    .list_text {
        width: 280px;
    }
    .h1 {
        margin-bottom: 3px;
    }
    .h2 {
        margin-bottom: 3px;
    }
    h6 {
        font-size: 20px;
    }
    h4 {
        font-size: 11px;
    }
}

@media (max-width:400px) {
    .list_img img{
        width: 70px;
    }
    h1 {
        font-size: 12px;
    }

    h3 {
        font-size: 12px;
    }
    

}