{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel='stylesheet' href='{% static 'css/guide_tf.css' %}'>
{% endblock style %}

{% block content %}

<div class='home_container_1'>

    <div class='tf_guide_container_1 d-flex flex-column'>
        <div class='tf_guide_inner_1 translate-middle'>
        </div>
        <div class='tf_guide_text_1 translate-middle tf_guide_text'>
            <h3>용어 사전<h3>
            <h1>대퇴 의지 가이드</h1>
            <h2>대퇴 절단은 넓적다리뼈 또는 대퇴골로 불리는<br>
                긴 뼈를 가로질러 절단하는 것을 의미합니다.<br>
                자신의 신체 무릎이 아닌 의족 무릎을 사용하기 때문에<br>
                적응 및 훈련 기간이 다소 긴 편입니다.<br>
                환자의 절단하지 않은 반대쪽 다리 길이에 맞추어<br>
                의족을 제작하게 됩니다.<br>
            </h2>
        </div>
    </div>



    <div class='tf_guide_container_2'>
        <div class='tf_guide_inner_2 translate-middle'>
            <img class='tf_guide_inner_img_2' src="{% static 'images/guide/tf_guide/tf_guide(1).jpg' %}">
        </div>
        <div class='tf_guide_text_2 translate-middle tf_guide_text'>
            <h3>Process<h3>
            <h1>대퇴 의지 제작 과정</h1>
            <h2>대퇴 의지는 제품 선택, 취형, 체크소켓 테스트,<br>
                파이널 소켓 제작 순서로 진행됩니다.<br>
                먼저 정밀한 신체 취형을 거친 후<br>
                테스트용 체크 소켓을 제작합니다.<br>
                이후 불편한 곳을 반영하여 소켓을 수정합니다.<br>
                사용자에게 적합한 소켓 모양을 찾았다면 <br>
                견고한 재료를 통해 파이널 소켓을 제작하여<br>
                소비자에게 제공합니다.
            </h2>

        </div>
    </div>

    <div class='tf_guide_container_3'>
        <div class='tf_guide_inner_3 translate-middle'>
            <img class='tf_guide_inner_img_3' src="{% static 'images/guide/tf_guide/tf_guide(2).jpg' %}">
        </div>
        <div class='tf_guide_text_3 translate-middle tf_guide_text'>
            <h3><h3>
            <h1></h1>
            <h2></h2>
        </div>
    </div>


    <div class='tf_guide_container_4'>
        <div class='tf_guide_inner_4 translate-middle'>
            <img class='tf_guide_inner_img_4'src="{% static 'images/guide/tf_guide/tf_guide(3).jpg' %}">
        </div>
        <div class='tf_guide_text_4 translate-middle tf_guide_text'>
            <h3><h3>
            <h1>대퇴 의지 구성</h1>
            <h2>대퇴 의지는 소켓 - 의지무릎 - 의지발로<br>
                구성되어 있습니다.<br>
                사용자의 활동 등급, 몸무게 등<br>
                여러 요소와 사용자 및 보호자<br>
                요구에 맞게 제품 구성을 조합할 수 있고<br>
                필요에 따라 부속품을 추가 장착하여<br>
                다양한 기능을 연출할 수 있습니다.
            </h2>
        </div>
    </div>

    <div class='tf_guide_container_5'>
        <div class='tf_guide_inner_5 translate-middle'>
            <img class='tf_guide_inner_img_5' src="{% static 'images/guide/tf_guide/tf_guide(4).jpg' %}">
        </div>
        <div class='tf_guide_text_5 translate-middle tf_guide_text'>
            <h3><h3>
            <h1>소켓이란?</h1>
            <h2>의지발을 신체와 결합하기 위해 현가장치인<br>
                소켓 기술을 사용합니다.<br>
                볼록한 신체 절단면과 의족을 결합하기 위해<br>
                오목한 공이 형태를 갖고있으며<br>
                다양한 원리를 통해 신체와 결합합니다.<br>
            </h2>
        </div>
    </div>

    <div class='tf_guide_container_6'>
        <div class='tf_guide_inner_6 translate-middle'>
            <img class='tf_guide_inner_img_6' src="{% static 'images/guide/tf_guide/tf_guide(5).jpg' %}">
        </div>
        <div class='tf_guide_text_6 translate-middle tf_guide_text'>
            <h3><h3>
            <h1>의지무릎</h1>
            <h2>의지 무릎은 신체 무릎과 동일한 기능을 갖습니다.<br>
                충격을 흡수하고, 하체 힘을 연결하는 기관으로<br>
                신체 안정성에 가장 중요한 역할을 합니다.<br>
            </h2>

        </div>
    </div>

    <div class='tf_guide_container_7'>
        <div class='tf_guide_inner_7 translate-middle'>
            <img class='tf_guide_inner_img_7' src="{% static 'images/guide/tf_guide/tf_guide(6).jpg' %}">
        </div>
        <div class='tf_guide_text_7 translate-middle tf_guide_text'>
            <h3><h3>
            <h1>의지발</h1>
            <h2>의지 발은 신체 하중을 견디고, 지면 느낌을<br>
                신체에 전달하게 됩니다.<br>
                사용자 취향과 생활 양식을 고려하여 선택이<br>
                가능하고 종류가 많기 때문에<br>
                구매 전 다양한 제품을 경험해보길 추천드립니다.
            </h2>
        </div>
    </div>

    <div class='tf_guide_container_8'>
        <div class='tf_guide_inner_8 translate-middle'>
            <img class='tf_guide_inner_img_8' src="{% static 'images/guide/guide(1).jpg' %}">
        </div>
        <div class='tf_guide_text_8 translate-middle tf_guide_text'>
            <h3><h3>
            <h1>나에게 맞는 제품 찾기</h1>
            <h2>그렇다면 나에게는 어떤 제품이 적합할까요?<br>
                몇가지 질문에 답하고 나에게 맞는 제품을 추천받아 보세요.
            </h2>
            <div class='btn_guide_start'>
                <a href='{% url 'feets:search' %}'>시작하기</a>
            </div>
        </div>
    </div>


</div>

{% endblock content %}