label {
    font-size: 25px;
    font-weight: normal;
}

input + label {
    text-align: center;
    padding: 2px 5px;
    margin: 0 10px;
}

.btn_container {
    margin-top: 50px;
}

.btn_final {
    border: none;
    background-color: inherit;
    color: inherit;
}

.p_font_size {
    font-size: 35px;
}

form input[type=radio] {
    display: none;
}

form input[type=radio]:checked + label {
    color: #91AD41;
}

form input[type=radio] +label > i {
    display: none;
}

form input[type=radio]:checked +label > i {
    display: inline;
}

form input[type=checkbox] {
    display: none;
}

form input[type=checkbox]:checked + label {
    color: #91AD41;
}

.form-check-label {
    width: auto;
}

.select_container {
    display: none;
}


.background_color {
    background-color: rgb(241, 245, 247);
}
.knee_search_container {
    height: 600px;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}


.knee_search_content {
    margin-top: 50px;
}

.search_title {
    color: black;
    margin-top: 35px;
    font-size: 45px;
}

.btn_final {
    display: none;
}




.btn_style:hover {
    color: white;
    background-color: #5FA0AF;
    border: none;
    border: #5fa0af solid 1px;
}







.knee_list_container {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.btn_style {
    display: block;
    border: #5FA0AF solid 1px;
    text-align: center;
    color: #5FA0AF;
    margin: 0px 5px;
}
.btn_size {
    width: 120px;
    font-size: 25px;
}

.mob_select_3 {
    display: flex;
    flex-direction: row;
}

.mob_select_4 {
    display: flex;
    flex-direction: row;
}

.n_hide {
    display: none;
}

.fa-check {
    font-size: 13px;
}

@media (max-width:1040px) {
    .search_title {
        font-size: 25px;
    }
    .p_font_size {
        font-size: 20px;
    }

    label {
        font-size: 18px;
    }

    .btn_size {
        width: 90px;
        font-size: 16px;
    }
}

@media (max-width:780px) {
    .mob_select_3 {
        flex-direction: column;
    }
    .form-check-label {
        margin: 5px 10px;
    }
}


@media (max-width:450px) {

    .p_font_size {
        font-size: 20px;
    }
    
    label {
        font-size: 18px;
    }
    .mob_select_4 {
        flex-direction: column;
    }
}

